.container-fluid{
	padding-left: 5px;
	padding-right: 5px;
}

#header-nav {
	/*background-color: #C3294A;*/
	border-radius: 0;
	border: 0;
}

#logo-img{
	background: url('../img/queen.png') no-repeat;
	width: 200px;
	height: 150px;
	margin: 20px 25px 10px 10px;
}
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{ /*Happy Birthday Riha!*/
	font-family: 'Dancing Script', cursive;
	color:#33DCDC;
    font-weight: bold;
    font-size: 5.2em;
	text-shadow: 1px 1px 1px #222;
	margin-top: 20px;
	margin-bottom: 0;
	line-height: 0.75;
	padding-left: 10px;
	padding-right: 40px;
}

.container {
  position:relative;
  width: 50%;
  margin-top:20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image h2{
	position: absolute;
	font-weight: 700;
	padding: 0px 10px;
	top: 40%;
	width: 85%;
	color: #FFF;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#F4BAE8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 40px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}